* {
    padding: 0%;
    margin: 0%;
    /* background-color: bisque; */
    background-repeat: no-repeat;
    cursor: url(../img/icons8-hand-cursor-48.png), auto;

}

body {
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    min-height: 100vh;
    background-repeat: no-repeat;

}

.logo {
    width: 100px;
}

.logo:hover {
    border: 2px solid rgb(177, 61, 61);
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(255, 218, 174);
}

.ul {
    list-style-type: none;
    display: flex;
    column-gap: 80px;
}

.ul li {
    font-size: larger;
}

.ul li:hover {
    font-weight: 600;
    text-transform: uppercase;
}

.ul li a {
    text-decoration: none;
    color: #9c33ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 5vw;
    align-items: center;
}

.container {
    display: flex;
    row-gap: 50px;
    flex-direction: column;
}

.top {
    width: 100;
}

.upone {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: x-large;

}


.pro {
    color: #3300cc;


}

.pro:hover {
    color: #ff4d88;
}

.downone {
    row-gap: 20px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}


.coverfirst,
.coversecond,
.coverthird {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coverfirst>.first {
    width: 25vw;
    height: 25vh;
    border: 2px solid black;
    border-radius: 50px;
}

.coverfirst>.first>video {
    width: 25vw;
    height: 25vh;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50px;
}

.coverfirst>.firstone {
    width: 25vw;
    height: fit-content;
    padding: 30px 10px;
    color: #3300cc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.coversecond>.second {
    width: 25vw;
    height: 25vh;
    border: 2px solid black;
    border-radius: 50px;
}

.coversecond>.second>video {
    width: 25vw;
    height: 25vh;
    border: 2px solid black;
    border-radius: 50px;
    object-fit: cover;


}

.coversecond>.secondone {
    width: 25vw;
    height: fit-content;
    padding: 30px 10px;
    color: #3300cc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.coverthird>.third {
    width: 25vw;
    height: 25vh;
    border: 2px solid black;
    border-radius: 50px;

}

.coverthird>.third>video {
    width: 25vw;
    height: 25vh;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50px;
}

.coverthird>.thirdone {
    width: 25vw;
    height: fit-content;
    padding: 30px 10px;
    color: #3300cc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}


.firstone:hover,
.secondone:hover,
.thirdone:hover,
.button:hover,
.button>a:hover {
    font-weight: 500;
    border-radius: 30px;
    color: #ff4d88;


}

.button {
    color: #3300cc;
    font-weight: 700;
    border: 1px solid #63e;

}

.button>a {
    color: #3300cc;
    font-weight: 700;
}

.button>a:hover {
    color: #ff4d88;
    font-weight: 700;
}

.button {
    width: fit-content;
    height: auto;
    padding: 14px 44px;
    border-radius: 24px;
    position: fixed;
    right: 50px;
    bottom: 10px;
    font-size: larger;
}

.motabhai {
    color: #ff4d88;
}

.motabhai:hover {
    color: white;
}

@media (max-width:1000px) {

    .downone {
        display: flex;
        flex-direction: column;
    }

    .upone {
        margin-bottom: 30px;
    }

    .coverfirst,
    .coversecond,
    .coverthird {
        display: flex;
        flex-direction: row;
        column-gap: 10vw;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .button{
        right: 20px;
    }

}

@media (max-width:650px) {

    .upone {
        margin: 30px 0px;
    }

    .coverfirst,
    .coversecond,
    .coverthird {
        display: flex;
        flex-direction: column;
        row-gap: 10vw;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    .coverfirst>.first,
    .coverfirst>.first>video,
    .coverfirst>.firstone,
    .coversecond>.second,
    .coversecond>.second>video,
    .coversecond>.secondone,
    .coverthird>.third,
    .coverthird>.third>video,
    .coverthird>.thirdone {
        width: 80vw;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .ul {
        column-gap: 15px;
    }

    .button{
        position: relative;
        right: 0;
        margin: 20px auto;
        width: 80vw;


    }
}