*{
    background-color: bisque;
}
.sectiopn-first > img{
    width: 500px;
    border-radius: 40px;
    height: 65vh;
}

.logo{
    width: 100px;

}

.logo:hover{
    border: 2px solid rgb(177, 61, 61);
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(255, 218, 174);;
}


.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.Name{
    font-size: 75px;
    color:brown;
}

.TSContent{
    color: rgb(177, 61, 61);
    font-size: 40px;
}
.Name-Section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 5vw;
    align-items: center;
    margin-bottom: 35px;
}

.ul{
    list-style-type: none;
    display: flex;
    column-gap: 80px;
}

.ul li {
    font-size: larger;
}

.ul li:hover{
    font-weight: 600;
    text-transform: uppercase;
}

.ul li a{
    text-decoration: none;
    color: black;
}


.about{
    margin-top: 25px;
    padding: 20px;
}

.about > div:first-child:hover{
    color: rgb(188, 101, 101);
}

.about:hover{
    background-color: rgb(255, 218, 174);
    border: 1px solid rgb(255, 218, 174);
    border-radius: 30px;
}
.footer-flex {
    display:flex;
    margin: 30px 5vw;
    width: 500px;
    justify-content: space-evenly;

}